<div class="newTaskMenu">
    <form id="newTaskMenuForm">
        <h3>Add Task</h3>
        <input id="newTaskText" type="text" placeholder="Title">
        <input id="newTaskDesc" type="textarea" placeholder="Description">
        <input id="newTaskDeadline" type="datetime-local">
        <select id="newTaskPriority" name="priority">
        </select>
        <button type="button" id="newTaskCancelButton">Cancel</button>
        <button type="submit" id="newTaskAddButton">Add</button>
    </form>
</div>